{
    "openapi": "3.1.0",
    "info": {
        "title": "Markup AI API.",
        "description": "API interface for Markup AI content processing workflows.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.markup.ai",
            "description": "Markup AI API",
            "x-fern-server-name": "Production",
            "x-fern-audiences": [
                "public"
            ]
        },
        {
            "url": "https://api.stg.markup.ai",
            "description": "Staging",
            "x-fern-server-name": "Staging",
            "x-fern-audiences": [
                "staging"
            ]
        },
        {
            "url": "https://api.dev.markup.ai",
            "description": "Development",
            "x-fern-server-name": "Development",
            "x-fern-audiences": [
                "development"
            ]
        },
        {
            "url": "http://localhost:8000",
            "description": "Local Dev",
            "x-fern-server-name": "Development",
            "x-fern-audiences": [
                "development"
            ]
        }
    ],
    "paths": {
        "/v1/style-guides": {
            "get": {
                "tags": [
                    "Style Guides"
                ],
                "summary": "List Style Guides",
                "description": "Retrieve all style guides associated with your organization.",
                "operationId": "Style Guides-list_style_guides",
                "security": [
                    {
                        "HTTPBearer": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved style guides.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StyleGuideResponse"
                                    },
                                    "title": "Response 200 Style Guides-List Style Guides"
                                },
                                "example": [
                                    {
                                        "id": "123e4567-e89b-12d3-a456-426614174000",
                                        "name": "Custom Marketing Guide",
                                        "created_at": "2025-01-20T14:30:00",
                                        "created_by": "user123",
                                        "status": "completed",
                                        "summary": "This is the summary generated for this style guide",
                                        "terminology_domain_ids": [
                                            "223e4567-e89b-12d3-a456-426614174000"
                                        ],
                                        "has_tone_prompt": false
                                    },
                                    {
                                        "id": "01971e03-dd27-75ee-9044-b48e654848cf",
                                        "name": "AP",
                                        "created_at": "2025-07-15T00:00:00",
                                        "created_by": "markupai",
                                        "status": "completed",
                                        "summary": "This is the summary generated for this style guide",
                                        "terminology_domain_ids": [],
                                        "has_tone_prompt": false
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Forbidden": {
                                        "detail": "Permission against the organization is required for this operation.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Validation Error": {
                                        "detail": "style_guide_id is not a valid UUID",
                                        "status": 422,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "detail": "An internal server error occurred. Please try again or contact support with the request ID if the issue persists.",
                                        "status": 500,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "x-fern-audiences": [
                    "public"
                ]
            },
            "post": {
                "tags": [
                    "Style Guides"
                ],
                "summary": "Create Style Guide",
                "description": "Create a new style guide from a document, or copy an existing style guide. To copy, provide the copyFrom query parameter with the source style guide ID.",
                "operationId": "Style Guides-create_style_guide",
                "security": [
                    {
                        "HTTPBearer": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "copyFrom",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "The ID of an existing style guide to copy. When provided, creates a copy instead of processing a document.",
                            "title": "Copyfrom"
                        },
                        "description": "The ID of an existing style guide to copy. When provided, creates a copy instead of processing a document."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StyleGuideRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Style guide copied successfully (when using copyFrom).",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Style Guide Copied": {
                                        "id": "223e4567-e89b-12d3-a456-426614174000",
                                        "name": "My Custom Style Guide (Copy)",
                                        "created_at": "2025-01-15T10:30:00",
                                        "created_by": "user123",
                                        "status": "completed",
                                        "summary": "This is the summary generated for this style guide",
                                        "terminology_domain_ids": [],
                                        "has_tone_prompt": false
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/StyleGuideResponse"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Style guide creation started successfully (when using file_upload).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StyleGuideResponse"
                                },
                                "examples": {
                                    "Style Guide Creation Started": {
                                        "id": "123e4567-e89b-12d3-a456-426614174000",
                                        "name": "My Custom Style Guide",
                                        "created_at": "2025-01-15T10:30:00",
                                        "created_by": "user123",
                                        "status": "running",
                                        "summary": "This is the summary generated for this style guide",
                                        "terminology_domain_ids": [],
                                        "has_tone_prompt": false
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Both Provided": {
                                        "detail": "Cannot provide both file_upload and copyFrom. Use file_upload to create from a document, or copyFrom to copy an existing style guide.",
                                        "status": 400,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    },
                                    "Neither Provided": {
                                        "detail": "Must provide either file_upload or copyFrom query parameter.",
                                        "status": 400,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    },
                                    "Name Required": {
                                        "detail": "Name is required when creating a style guide from a document.",
                                        "status": 400,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    },
                                    "Not Completed": {
                                        "detail": "Cannot copy a style guide that is not completed.",
                                        "status": 400,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Forbidden": {
                                        "detail": "Permission against the organization is required for this operation.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    },
                                    "Limit Reached": {
                                        "detail": "Style guide limit reached for this organization.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    },
                                    "Predefined": {
                                        "detail": "Predefined style guides cannot be copied.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Source style guide not found (when using copyFrom).",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Found": {
                                        "detail": "Style guide not found.",
                                        "status": 404,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A style guide with this name already exists",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Duplicate Name": {
                                        "detail": "A style guide with this name already exists in your organization.",
                                        "status": 409,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    },
                                    "Too Many Copies": {
                                        "detail": "Too many copies of this style guide exist. Please provide a unique name.",
                                        "status": 409,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The uploaded file exceeds the maximum allowed size.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Request Entity Too Large": {
                                        "detail": "Maximum allowed file size is <file_size>.",
                                        "status": 413,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Invalid File Type": {
                                        "detail": "Invalid Request",
                                        "status": 422,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c",
                                        "errors": [
                                            {
                                                "type": "value_error",
                                                "loc": [
                                                    "body",
                                                    "file_upload"
                                                ],
                                                "msg": "Value error, File must be one of the following content types: ...",
                                                "input": {
                                                    "filename": "example.png",
                                                    "size": 21286
                                                },
                                                "ctx": {
                                                    "error": {}
                                                }
                                            }
                                        ]
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        },
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "detail": "An internal server error occurred. Please try again or contact support with the request ID if the issue persists.",
                                        "status": 500,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "x-fern-audiences": [
                    "public"
                ]
            }
        },
        "/v1/style-guides/{style_guide_id}": {
            "get": {
                "tags": [
                    "Style Guides"
                ],
                "summary": "Get Style Guide",
                "description": "Retrieve a specific style guide by ID, including its metadata such as `name` and `status`.",
                "operationId": "Style Guides-get_style_guide",
                "security": [
                    {
                        "HTTPBearer": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "style_guide_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "The ID of the style guide.",
                            "title": "Style Guide Id"
                        },
                        "description": "The ID of the style guide."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the style guide.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StyleGuideResponse"
                                },
                                "example": {
                                    "id": "123e4567-e89b-12d3-a456-426614174000",
                                    "name": "Technical Documentation Guide",
                                    "created_at": "2025-01-10T09:15:00",
                                    "created_by": "user456",
                                    "status": "completed",
                                    "summary": "This is the summary generated for this style guide",
                                    "terminology_domain_ids": [
                                        "223e4567-e89b-12d3-a456-426614174000",
                                        "323e4567-e89b-12d3-a456-426614174000"
                                    ],
                                    "has_tone_prompt": false
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Forbidden": {
                                        "detail": "Permission against the organization is required for this operation.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Style guide not found or invalid UUID format.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Found": {
                                        "summary": "Style guide does not exist",
                                        "value": {
                                            "detail": "Style guide not found.",
                                            "status": 404,
                                            "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                        }
                                    },
                                    "Invalid UUID": {
                                        "summary": "Invalid UUID format provided",
                                        "value": {
                                            "detail": "Style guide not found.",
                                            "status": 404,
                                            "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Validation Error": {
                                        "detail": "Field 'style_guide_id' is not a valid UUID",
                                        "status": 422,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "detail": "An internal server error occurred. Please try again or contact support with the request ID if the issue persists.",
                                        "status": 500,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "x-fern-audiences": [
                    "public"
                ]
            },
            "patch": {
                "tags": [
                    "Style Guides"
                ],
                "summary": "Update Style Guide",
                "description": "Update the name and/or terminology domain IDs of an existing style guide.",
                "operationId": "Style Guides-update_style_guide",
                "security": [
                    {
                        "HTTPBearer": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "style_guide_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "The ID of the style guide.",
                            "title": "Style Guide Id"
                        },
                        "description": "The ID of the style guide."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_Style_Guides-update_style_guide"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The style guide was updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StyleGuideResponse"
                                },
                                "examples": {
                                    "Style Guide Updated": {
                                        "id": "123e4567-e89b-12d3-a456-426614174000",
                                        "name": "Updated Marketing Style Guide",
                                        "created_at": "2025-01-01T00:00:00",
                                        "created_by": "user123",
                                        "status": "completed",
                                        "updated_at": "2025-01-26T15:30:00",
                                        "updated_by": "user456",
                                        "summary": "This is the summary generated for this style guide",
                                        "has_tone_prompt": false
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cannot update predefined style guides.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Predefined Style Guides cannot be updated.": {
                                        "detail": "Predefined Style Guides cannot be updated.",
                                        "status": 403,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Style guide not found.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Style Guide Not Found": {
                                        "detail": "Style guide not found.",
                                        "status": 404,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A style guide with this name already exists",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Duplicate Name": {
                                        "detail": "A style guide with this name already exists in your organization.",
                                        "status": 409,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Validation Error": {
                                        "detail": "Field 'name' must be at least 1 character long",
                                        "status": 422,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "detail": "An internal server error occurred. Please try again or contact support with the request ID if the issue persists.",
                                        "status": 500,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "x-fern-audiences": [
                    "public"
                ]
            },
            "delete": {
                "tags": [
                    "Style Guides"
                ],
                "summary": "Delete Style Guide",
                "description": "Delete a style guide by ID.",
                "operationId": "Style Guides-delete_style_guide",
                "security": [
                    {
                        "HTTPBearer": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "style_guide_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "The ID of the style guide.",
                            "title": "Style Guide Id"
                        },
                        "description": "The ID of the style guide."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Style guide successfully deleted."
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cannot delete predefined style guides.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Predefined Style Guides cannot be deleted.": {
                                        "detail": "Predefined Style Guides cannot be deleted.",
                                        "status": 403,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Style guide not found.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Style Guide Not Found": {
                                        "detail": "Style guide not found.",
                                        "status": 404,
                                        "request_id": "2fde4ca0-01f9-4343-8e40-2d85793a3897"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Validation Error": {
                                        "detail": "Field 'style_guide_id' is not a valid UUID",
                                        "status": 422,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "detail": "An internal server error occurred. Please try again or contact support with the request ID if the issue persists.",
                                        "status": 500,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "x-fern-audiences": [
                    "public"
                ]
            }
        },
        "/v1/style/checks": {
            "post": {
                "tags": [
                    "Style Checks"
                ],
                "summary": "Create Style Check",
                "description": "Analyze text for grammar, style, and clarity issues.",
                "operationId": "Style Checks-create_style_check",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StyleCheckRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Request accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkflowResponse"
                                },
                                "examples": {
                                    "Running": {
                                        "summary": "In progress",
                                        "value": "{\"status\":\"running\",\"workflow_id\":\"chk_2MwjK0cz5KJ9c-tl2pFIWcfv\"}"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Forbidden": {
                                        "detail": "Permission against the organization is required for this operation.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The uploaded file exceeds the maximum allowed size.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Request Entity Too Large": {
                                        "detail": "Maximum allowed file size is <file_size>.",
                                        "status": 413,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                },
                                "examples": {
                                    "Invalid File Type": {
                                        "summary": "Invalid file type uploaded",
                                        "value": {
                                            "detail": "Invalid request",
                                            "status": 422,
                                            "request_id": "42a1cd2bfb2e66312d15361587e4f53c",
                                            "errors": [
                                                {
                                                    "type": "value_error",
                                                    "loc": [
                                                        "body",
                                                        "file_upload"
                                                    ],
                                                    "msg": "Value error, File must be one of the following content types: <file_types>.",
                                                    "input": {
                                                        "filename": "example.png",
                                                        "size": 1000000
                                                    },
                                                    "ctx": {
                                                        "error": {}
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "Missing Required Field": {
                                        "summary": "Required field not provided",
                                        "value": {
                                            "detail": "Invalid request",
                                            "status": 422,
                                            "request_id": "e36afa35988f12e764ef52e313b9c0a3",
                                            "errors": [
                                                {
                                                    "type": "missing",
                                                    "loc": [
                                                        "body",
                                                        "dialect"
                                                    ],
                                                    "msg": "Field required",
                                                    "input": {
                                                        "file_upload": {
                                                            "filename": "example.txt",
                                                            "size": 1823
                                                        },
                                                        "tone": "formal",
                                                        "style_guide": "chicago"
                                                    },
                                                    "ctx": {}
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Token limit exceeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Token Limit Exceeded": {
                                        "summary": "Token limit exceeded",
                                        "value": {
                                            "detail": "Your organization has reached its token limit. Please contact support@markup.ai to increase your limit or discuss your usage needs.",
                                            "status": 429,
                                            "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Internal Server Error": {
                                        "detail": "An internal server error occurred. Please try again or contact support with the request ID if the issue persists.",
                                        "status": 500,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-fern-audiences": [
                    "public"
                ]
            }
        },
        "/v1/style/checks/{workflow_id}": {
            "get": {
                "tags": [
                    "Style Checks"
                ],
                "summary": "Get Style Check",
                "description": "Retrieve style check results.",
                "operationId": "Style Checks-get_style_check",
                "security": [
                    {
                        "HTTPBearer": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workflow_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workflow Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Style check results.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StyleCheckResponse"
                                },
                                "examples": {
                                    "Completed": {
                                        "summary": "Successful response",
                                        "value": {
                                            "config": {
                                                "dialect": "canadian_english",
                                                "style_guide": {
                                                    "style_guide_type": "apa",
                                                    "style_guide_id": "sg-8d4e5f6a-2b3c-4d5e-6f7a-8b9c0d1e2f3a"
                                                },
                                                "tone": "conversational"
                                            },
                                            "original": {
                                                "issues": [
                                                    {
                                                        "original": "therefor",
                                                        "position": {
                                                            "start_index": 89
                                                        },
                                                        "subcategory": "spelling",
                                                        "category": "grammar",
                                                        "severity": "high"
                                                    },
                                                    {
                                                        "original": "leverage",
                                                        "position": {
                                                            "start_index": 156
                                                        },
                                                        "subcategory": "vocabulary",
                                                        "category": "clarity",
                                                        "severity": "low"
                                                    },
                                                    {
                                                        "original": "going forward",
                                                        "position": {
                                                            "start_index": 234
                                                        },
                                                        "subcategory": "word_choice",
                                                        "category": "tone",
                                                        "severity": "low"
                                                    },
                                                    {
                                                        "original": "email",
                                                        "position": {
                                                            "start_index": 312
                                                        },
                                                        "subcategory": "punctuation",
                                                        "category": "consistency",
                                                        "severity": "medium"
                                                    },
                                                    {
                                                        "original": "towards",
                                                        "position": {
                                                            "start_index": 405
                                                        },
                                                        "subcategory": "word_choice",
                                                        "category": "consistency",
                                                        "severity": "low"
                                                    }
                                                ],
                                                "scores": {
                                                    "quality": {
                                                        "score": 72,
                                                        "grammar": {
                                                            "score": 95,
                                                            "issues": 1
                                                        },
                                                        "consistency": {
                                                            "score": 80,
                                                            "issues": 2
                                                        },
                                                        "terminology": {
                                                            "score": 100,
                                                            "issues": 0
                                                        }
                                                    },
                                                    "analysis": {
                                                        "clarity": {
                                                            "score": 64,
                                                            "flesch_reading_ease": 51.4,
                                                            "sentence_complexity": 38.9,
                                                            "vocabulary_complexity": 45.6,
                                                            "sentence_count": 6,
                                                            "word_count": 112,
                                                            "average_sentence_length": 18.7
                                                        },
                                                        "tone": {
                                                            "score": 78,
                                                            "informality": 38.2,
                                                            "liveliness": 33.9,
                                                            "informality_alignment": 115.8,
                                                            "liveliness_alignment": 106.4
                                                        }
                                                    }
                                                }
                                            },
                                            "workflow": {
                                                "id": "chk-2b5f8d3a-9c7e-4f2b-a8d1-6e9c3f7b4a2d",
                                                "api_version": "1.0.0",
                                                "filename": "example_document.txt",
                                                "generated_at": "2025-01-15T14:22:33Z",
                                                "status": "completed",
                                                "type": "checks",
                                                "webhook_response": {
                                                    "url": "https://api.example.com/webhook",
                                                    "status_code": 200
                                                }
                                            }
                                        }
                                    },
                                    "Running": {
                                        "summary": "In progress",
                                        "value": {
                                            "workflow": {
                                                "id": "checks-4a7c8e92-6f3d-4b8a-9c1e-2d5f7a9b3e4c",
                                                "api_version": "1.0.0",
                                                "status": "running",
                                                "type": "checks"
                                            }
                                        }
                                    },
                                    "Failed": {
                                        "summary": "Failed",
                                        "value": {
                                            "workflow": {
                                                "id": "checks-4a7c8e92-6f3d-4b8a-9c1e-2d5f7a9b3e4c",
                                                "api_version": "1.0.0",
                                                "status": "failed",
                                                "type": "checks"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Forbidden": {
                                        "detail": "Permission against the organization is required for this operation.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The client attempted to poll or retrieve results for an ID that doesn't exist.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Workflow Not Found": {
                                        "detail": "Workflow not found. Please check the workflow ID and try again.",
                                        "status": 404,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request validation failed.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Missing Required Field": {
                                        "summary": "Required field not provided",
                                        "value": {
                                            "detail": "Invalid request",
                                            "status": 422,
                                            "request_id": "e36afa35988f12e764ef52e313b9c0a3",
                                            "errors": [
                                                {
                                                    "type": "missing",
                                                    "loc": [
                                                        "body",
                                                        "workflow_id"
                                                    ],
                                                    "msg": "Field required",
                                                    "input": {},
                                                    "ctx": {}
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An internal server error occurred while fetching the workflow result.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Workflow Fetch Failed": {
                                        "summary": "Failed to retrieve workflow result",
                                        "value": {
                                            "detail": "A problem occurred while fetching the workflow result. Please try again later.",
                                            "status": 500,
                                            "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-fern-audiences": [
                    "public"
                ]
            }
        },
        "/v1/style/suggestions": {
            "post": {
                "tags": [
                    "Style Suggestions"
                ],
                "summary": "Create Style Suggestion",
                "description": "Get suggested corrections for text.",
                "operationId": "Style Suggestions-create_style_suggestion",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StyleSuggestionRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Request accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkflowResponse"
                                },
                                "examples": {
                                    "Running": {
                                        "summary": "In progress",
                                        "value": "{\"status\":\"running\",\"workflow_id\":\"sug_bpLyE_96JgxmfmtBkdILG66a\"}"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Forbidden": {
                                        "detail": "Permission against the organization is required for this operation.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The uploaded file exceeds the maximum allowed size.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Request Entity Too Large": {
                                        "detail": "Maximum allowed file size is <file_size>.",
                                        "status": 413,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request validation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                },
                                "examples": {
                                    "Invalid File Type": {
                                        "summary": "Invalid file type uploaded",
                                        "value": {
                                            "detail": "Invalid request",
                                            "status": 422,
                                            "request_id": "42a1cd2bfb2e66312d15361587e4f53c",
                                            "errors": [
                                                {
                                                    "type": "value_error",
                                                    "loc": [
                                                        "body",
                                                        "file_upload"
                                                    ],
                                                    "msg": "Value error, File must be one of the following content types: <file_types>.",
                                                    "input": {
                                                        "filename": "example.png",
                                                        "size": 1000000
                                                    },
                                                    "ctx": {
                                                        "error": {}
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "Missing Required Field": {
                                        "summary": "Required field not provided",
                                        "value": {
                                            "detail": "Invalid request",
                                            "status": 422,
                                            "request_id": "e36afa35988f12e764ef52e313b9c0a3",
                                            "errors": [
                                                {
                                                    "type": "missing",
                                                    "loc": [
                                                        "body",
                                                        "dialect"
                                                    ],
                                                    "msg": "Field required",
                                                    "input": {
                                                        "file_upload": {
                                                            "filename": "example.txt",
                                                            "size": 1823
                                                        },
                                                        "tone": "formal",
                                                        "style_guide": "chicago"
                                                    },
                                                    "ctx": {}
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Token limit exceeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Token Limit Exceeded": {
                                        "summary": "Token limit exceeded",
                                        "value": {
                                            "detail": "Your organization has reached its token limit. Please contact support@markup.ai to increase your limit or discuss your usage needs.",
                                            "status": 429,
                                            "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Internal Server Error": {
                                        "detail": "An internal server error occurred. Please try again or contact support with the request ID if the issue persists.",
                                        "status": 500,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-fern-audiences": [
                    "public"
                ]
            }
        },
        "/v1/style/suggestions/{workflow_id}": {
            "get": {
                "tags": [
                    "Style Suggestions"
                ],
                "summary": "Get Style Suggestion",
                "description": "Retrieve suggestion results.",
                "operationId": "Style Suggestions-get_style_suggestion",
                "security": [
                    {
                        "HTTPBearer": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workflow_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workflow Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Suggestion results.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuggestionResponse"
                                },
                                "examples": {
                                    "Completed": {
                                        "summary": "Successful response",
                                        "value": {
                                            "config": {
                                                "dialect": "british_english",
                                                "style_guide": {
                                                    "style_guide_type": "mla",
                                                    "style_guide_id": "sg-9f2e3d4c-5a6b-7c8d-9e0f-1a2b3c4d5e6f"
                                                },
                                                "tone": "formal"
                                            },
                                            "original": {
                                                "issues": [
                                                    {
                                                        "original": "recieve",
                                                        "position": {
                                                            "start_index": 45
                                                        },
                                                        "subcategory": "spelling",
                                                        "suggestion": "receive",
                                                        "category": "grammar",
                                                        "severity": "high"
                                                    },
                                                    {
                                                        "original": "utilize",
                                                        "position": {
                                                            "start_index": 128
                                                        },
                                                        "subcategory": "vocabulary",
                                                        "suggestion": "use",
                                                        "category": "clarity",
                                                        "severity": "low"
                                                    },
                                                    {
                                                        "original": "In order to",
                                                        "position": {
                                                            "start_index": 256
                                                        },
                                                        "subcategory": "shorten",
                                                        "suggestion": "To",
                                                        "category": "clarity",
                                                        "severity": "low"
                                                    },
                                                    {
                                                        "original": "e-mail",
                                                        "position": {
                                                            "start_index": 342
                                                        },
                                                        "subcategory": "punctuation",
                                                        "suggestion": "email",
                                                        "category": "consistency",
                                                        "severity": "medium"
                                                    },
                                                    {
                                                        "original": "OK",
                                                        "position": {
                                                            "start_index": 412
                                                        },
                                                        "subcategory": "capitalization",
                                                        "suggestion": "okay",
                                                        "category": "consistency",
                                                        "severity": "low"
                                                    }
                                                ],
                                                "scores": {
                                                    "quality": {
                                                        "score": 65,
                                                        "grammar": {
                                                            "score": 90,
                                                            "issues": 1
                                                        },
                                                        "consistency": {
                                                            "score": 75,
                                                            "issues": 2
                                                        },
                                                        "terminology": {
                                                            "score": 100,
                                                            "issues": 0
                                                        }
                                                    },
                                                    "analysis": {
                                                        "clarity": {
                                                            "score": 58,
                                                            "flesch_reading_ease": 48.3,
                                                            "sentence_complexity": 45.2,
                                                            "vocabulary_complexity": 52.8,
                                                            "sentence_count": 5,
                                                            "word_count": 87,
                                                            "average_sentence_length": 17.4
                                                        },
                                                        "tone": {
                                                            "score": 70,
                                                            "informality": 42.5,
                                                            "liveliness": 35.8,
                                                            "informality_alignment": 125.6,
                                                            "liveliness_alignment": 108.3
                                                        }
                                                    }
                                                }
                                            },
                                            "workflow": {
                                                "id": "suggestions-4a7c8e92-6f3d-4b8a-9c1e-2d5f7a9b3e4c",
                                                "api_version": "1.0.0",
                                                "filename": "example_document.txt",
                                                "generated_at": "2025-01-15T14:45:12Z",
                                                "status": "completed",
                                                "type": "suggestions",
                                                "webhook_response": {
                                                    "url": "https://api.example.com/webhook",
                                                    "status_code": 200
                                                }
                                            }
                                        }
                                    },
                                    "Running": {
                                        "summary": "In progress",
                                        "value": {
                                            "workflow": {
                                                "id": "suggestions-4a7c8e92-6f3d-4b8a-9c1e-2d5f7a9b3e4c",
                                                "api_version": "1.0.0",
                                                "status": "running",
                                                "type": "suggestions"
                                            }
                                        }
                                    },
                                    "Failed": {
                                        "summary": "Failed",
                                        "value": {
                                            "workflow": {
                                                "id": "suggestions-4a7c8e92-6f3d-4b8a-9c1e-2d5f7a9b3e4c",
                                                "api_version": "1.0.0",
                                                "status": "failed",
                                                "type": "suggestions"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Forbidden": {
                                        "detail": "Permission against the organization is required for this operation.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The client attempted to poll or retrieve results for an ID that doesn't exist.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Workflow Not Found": {
                                        "detail": "Workflow not found. Please check the workflow ID and try again.",
                                        "status": 404,
                                        "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request validation failed.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Missing Required Field": {
                                        "summary": "Required field not provided",
                                        "value": {
                                            "detail": "Invalid request",
                                            "status": 422,
                                            "request_id": "e36afa35988f12e764ef52e313b9c0a3",
                                            "errors": [
                                                {
                                                    "type": "missing",
                                                    "loc": [
                                                        "body",
                                                        "workflow_id"
                                                    ],
                                                    "msg": "Field required",
                                                    "input": {},
                                                    "ctx": {}
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An internal server error occurred while fetching the workflow result.",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Workflow Fetch Failed": {
                                        "summary": "Failed to retrieve workflow result",
                                        "value": {
                                            "detail": "A problem occurred while fetching the workflow result. Please try again later.",
                                            "status": 500,
                                            "request_id": "42a1cd2bfb2e66312d15361587e4f53c"
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-fern-audiences": [
                    "public"
                ]
            }
        },
        "/v1/style/rewrites": {
            "post": {
                "tags": [
                    "Style Rewrites"
                ],
                "summary": "Create Style Rewrite",
                "description": "Rewrite text with style corrections applied.",
                "operationId": "Style Rewrites-create_style_rewrite",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StyleRewriteRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Request accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkflowResponse"
                                },
                                "examples": {
                                    "Running": {
                                        "summary": "In progress",
                                        "value": "{\"status\":\"running\",\"workflow_id\":\"rw_i6NhICekKQmLmHJWLUN79f7l\"}"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed or no valid API key provided.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Not Authenticated": {
                                        "detail": "Not authenticated.",
                                        "status": 401,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "Forbidden": {
                                        "detail": "Permission against the organization is required for this operation.",
                                        "status": 403,
                                        "request_id": "ef2006715c846c358fd9b4d986446256"
                                    }
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The uploaded file exceeds the maximum allowed size.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
[...]
